body {
  background-color: #F6F6F6;
}

h6 {
  margin-left: 15px;
}
.sideMargin {
  margin-left: 0;
}

.maincontent {
  background-color: #FFFFFF;
  border-top: 1px solid #A4D6F9;
  border-left: 1px solid #A4D6F9;
}

.mysidebarline {

  border-bottom: 2px solid #E6E6E6;
}

.mysidebarlist {
  list-style-type: none;
  margin-left: -15px;
}

.glyphicon {
  font-size: 1em;
}

.welcomebox{
  background-color: #F6F6F6;
  border: 2px solid #E6E6E6;
}

.mainmargins {
    margin: 10px;
}

.greenbox{
  background-color: #F5FFFA;
  /*margin: 10px;*/
  border: 1px solid #E6E6E6;
  /*margin-right: 4px;*/
  float: none;
  display: table-cell;
  vertical-align: top;
}

.darkgreenbox{
  background-color: #CEF2E0;
  border: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.bluebox{
  background-color: #F5FAFF;
  /*margin: 10px;*/
  border: 1px solid #E6E6E6;
  float: none;
  display: table-cell;
  vertical-align: top;
}

.darkbluebox{
  background-color: #CEDFF2;
  border: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.purplebox{
  background-color: #FAF5FF;
  /*margin: 10px;*/
  border: 1px solid #E6E6E6;
  float: none;
  display: table-cell;
  vertical-align: top;
}

.darkpurplebox{
  background-color: #DDCEF2;
  border: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.bottomtable img {
  float: left;
  margin-left: -45px;
  margin-right: 15px;
  width: 40px;

}

.mybottomlist {
  list-style-type: none;
}

.mybottomlist li {
  margin-bottom: 16px;
}

.bottomborder {
  border-bottom: 2px solid #E6E6E6;
}

.btn {
  border-radius:0;
  background: #E8F0F4;
  border: 0;
  border-left: 1px solid #A4D6F9;
  border-right: 1px solid #A4D6F9;
  box-shadow: none;
}

.btn.active {
  background-color: white;
  box-shadow: none;
}

.searchbtn {
  background: white;
  border: none;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.form-control {
  border-radius: 0;
  /*margin-left: -5px;*/
  border-right: none;
  box-shadow: none;
}
